@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,800|Lora:400italic|Playfair+Display:700);
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src:url('../codropsicons.eot');
    src:url('../codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/codropsicons/codropsicons.woff') format('woff'),
    url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
    url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }


body {
    background: #EEE;
    color: #69606b;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Raleway', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


a .dropdown-toggle {
    outline: none;
    color: #1B0F10;
    text-decoration: none;
}

a:hover, a:focus {
    color: #69606b;
}

/* To Navigation Style */
.side-top {
    width: 100%;
    position: absolute;
    top: -2px;
    left: -2px;
    list-style: none;
    font-weight: 800;
    font-size: 0.6em;
    padding: 0 32px;
    letter-spacing: 1px;
    z-index: 10000;
}

.side-top {
    display: block;
    color: #ADA9A9;
    text-decoration: none;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}

.side-top span.right {
    float: right;
}

.navigation {
    padding: 0 0 1em;
    position: relative;
}

.navigation a {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 1px;
    padding: 0.3em 0;
    display: inline-block;
    opacity: 0.7;
    margin: 0 0.5em;
    white-space: nowrap;
    color: #cf4a5c;
}

.navigation a:hover,
.navigation a.current-nav {
    opacity: 1;
    color: #69606b;
}

.navigation a.current-nav {
    border-bottom: 3px solid #69606b;
}

.related-main {
    padding: 2em 0;
    text-align: center;
    font-size: 28px;
    margin: -60px auto;
    position: relative;
}

.related-main .social {
    font-size: 30px;
    font-family: sans-serif;

}

.related-main a {
    text-decoration: none;
}
ul.social {
    text-align: center;
    display: block;
    clear: both;
}

ul.social li {
    display: inline-block;
    margin: 0 25px 0 0;
}

ul.social a {
    text-decoration: none;
    color: #555256;
}

ul.social a:hover {
    color: #121112;
}

/* css for posts */

.post {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    *zoom: 1;
    position: relative;
    opacity: 1;
}

.post:before, .post:after {
    content: "";
    display: table; }
.post:after {
    clear: both; }
.post.instant {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none; }
.post .post-content {
    float: left; }
.post .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px; }
.post .post-content h3 a {
    display: inline-block;
    margin-right: 5px; }
.post .post-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa; }
.post .post-content p {
    margin: 0; }

/*-----------------------------------*/

/*textarea*/
/*---------------------*/
textarea.form-control {
    resize: none;
    height: 100px;
    line-height: 1.5;
}

div.mail {
    padding-top: 10px;
}

div.text {
    padding-top: 0;
}

.mod {
    width: 50%;
}
/*---------------------*/

#signup-link {
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 0;
    color: #000000;
}
.project {
    list-style-type: none;
}

.access-denied {
    margin: 140px 200px;
    text-align: center;
}

.access-denied h1 {
    color: #EB2631;
}

.access-denied a {
    text-decoration: none;
}

.title-main .post-ask {
    margin: 100px 0 0;
}


@media screen and (max-width: 40em) {

    .related-main {
        font-size: 80%;
    }
}