<template name="home_header">
    <div class="bg-img-main"><img src="../header01.jpg" alt="Background Image" /></div>
    <div class="title-main">
        <nav class="navigation">
            <a class="current-nav" href="#">Home</a>
            <a href="{{pathFor 'ask'}}">Ask me</a>
            <a href="{{pathFor 'projects'}}">Projects</a>
        </nav>
        <h1>Stepan Lopushansky</h1>
        <p class="subline">junior-developer</p>
        <div class="info">
            <p>Currently I live and work in Ternopil (Ukraine) city.</p>
            <p>I work in ISP "BitterNet", tech support.</p>
            <p>In my free, from work, time I like developing cool webapps using cutting edge
                technologies.</p>
            <p>Also, I`m discovering the world, developing myself.</p>
            <p>I like to play different sport games.</p>
        </div>
    </div>
</template>