<template name="home">

    <div id="container-main" class="container-main intro-effect-jam3">

        <div class="side-top clearfix">
            <span class="right"><span>{{> loginButtons}}</span></span>
        </div>

        <header class="header-main">
            {{> home_header}}
        </header>

        <button class="trigger" data-info="Click"><span>Trigger</span></button>

        <section class="related-main">
            {{> home_relatedMain}}
        </section>
    </div>

</template>