<template name="ask_header">
    <div class="bg-img-main"><img src="../header01.jpg" alt="Background Image" /></div>
    <div class="title-main">
        <nav class="navigation">
            <a href="{{pathFor 'home'}}">Home</a>
            <a class="current-nav" href="#">Ask me</a>
            <a href="{{pathFor 'projects'}}">Projects</a>
        </nav>
        <h1>Stepan Lopushansky</h1>
        <p class="subline">junior-developer</p>
        <div class="forms">
            {{> form}}
        </div>
    </div>
</template>