<template name="projects">

    <section class="cd-section">
        <div class="cd-block">
            <div><i class="fa fa-home" style="color: #1C1C1C"></i>
            </div>
            <h1>Projects</h1>
        </div>
    </section>

    {{#each projs}}
        <section class="cd-section">
            {{> sections}}
        </section>
    {{/each}}

    <nav>
        <ul class="cd-vertical-nav">
            <li><a href="" class="cd-prev inactive">Next</a></li>
            <li><a href="" class="cd-next">Prev</a></li>
        </ul>
    </nav>

</template>